{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <header>
        <div class="nav">
            <h1>REVETAS {{title}}</h1>
            <a href="/recetas/">Recetas</a>
            <a href="/mis_recetas/">Mis recetas</a>
            <a href="/favoritas/">Mis favoritas</a>
            <a href="/cocinadas/">Mis cocinadas</a>
            <a href="/nueva/">Crear receta</a>
            
            <div style="margin-left: auto; padding-right: 20px;">
                {% if usuario %}
                    <div>
                        <h3>{{usuario.name}}</h3>
                        <a href="/login/">🙋‍♂️</a>
                    </div>
                {% else %}
                    <a href="/login/">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>