{% extends 'main.html' %}

{% block content %}

<h2>Mis recetas</h2>
{% for recetas in recetas %}
    <div>
        <h3>{{ recetas.title }}</h3>
        {% if recetas.image %}
            <img src="{{recetas.image}}" alt="Imagen de la receta" style="width: 200px;">
        {% endif %}
        <p>{{ recetas.description }}</p>
        <p>Ingredientes: {{ recetas.ingredients }}</p>
        <p>Instrucciones: {{ recetas.instructions }}</p>
        <a href="{% url 'eliminar_receta' recetas.id %}">Eliminar receta</a>
        <a href="{% url 'editar_receta' recetas.id %}">Editar receta</a>
    </div>
{% endfor %}

{% endblock %}