{% extends 'main.html' %}

{% block content %}

<h2>Mis recetas</h2>
{% for recetas in recetas %}
    <div>
        <h3>{{ recetas.title }}</h3>
        <p>{{ recetas.description }}</p>
        <p>Ingredientes: {{ recetas.ingredients }}</p>
        <p>Instrucciones: {{ recetas.instructions }}</p>
        <a href="{% url 'receta_detail' recetas.id %}">Ver receta</a>
        <a href="{% url 'delete_receta' recetas.id %}">Eliminar receta</a>
        <a href="{% url 'edit_receta' recetas.id %}">Editar receta</a>
    </div>

{% endblock %}