{% extends 'main.html' %}
{% load custom_filters %}

{% block content %}

<h2>Filtrar por categoría</h2>
<form method="get">
    <select name="categoria" onchange="this.form.submit()">
        <option value="">Todas</option>
        <option value="Desayuno" {% if request.GET.categoria == "Desayuno" %}selected{% endif %}>Desayuno</option>
        <option value="Almuerzo" {% if request.GET.categoria == "Almuerzo" %}selected{% endif %}>Almuerzo</option>
        <option value="Merienda" {% if request.GET.categoria == "Merienda" %}selected{% endif %}>Merienda</option>
        <option value="Cena" {% if request.GET.categoria == "Cena" %}selected{% endif %}>Cena</option>
    </select>
</form>

<br>

{% if categoria %}
  <h3>Recetas de {{ categoria }}</h3>
{% endif %}

{% for receta in recetas %}
<div>
    <div>
        <h1>
            {% if receta.id in favoritas_ids %}
                {{ receta.title }} ⭐
            {% else %}
                {{ receta.title }}
            {% endif %}
        </h1>
        
        {% if receta.id in cocinadas_ids %}
            <p>Receta cocinada! ✅</p>    
        {% else %}
            <p>Receta sin realizar ⏰</p>
        {% endif %}

        {% if receta.image %}
            <img src="{{ receta.image.url }}" alt="Imagen de la receta" style="width:200px;">
        {% endif %}
        <p>{{ receta.description }}</p>
        <p>Tiempo de cocción: {{ receta.coccion }} minutos</p>

        <p>Ingredientes:</p>
        <ul>
            {% for ingrediente in receta.ingredientes.all %}
                <li>{{ ingrediente.cantidad }} {{ ingrediente.unidad }} de {{ ingrediente.nombre }}</li>
            {% endfor %}
        </ul>

        <p>Pasos:</p>
        <ol>
            {% for paso in receta.steps %}
                <li>{{ paso }}</li>
            {% endfor %}
        </ol>

        <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
        <p><strong>Categoría:</strong> {{ receta.categoria }}</p>
        <p><strong>Valoración promedio:</strong> {{ receta.promedio_valoracion|floatformat:1 }} ⭐</p>
        <p>Receta creada el: {{ receta.date }}</p>
        <p>Receta creada por: {{ receta.user.name }}</p>

        <div class="valorar">
            <form method="post" action="{% url 'valorar_receta' receta.id %}">
                {% csrf_token %}
                <label>Valorar receta:</label><br>
                <input type="radio" name="puntaje" value="1"> ⭐
                <input type="radio" name="puntaje" value="2"> ⭐⭐
                <input type="radio" name="puntaje" value="3"> ⭐⭐⭐
                <input type="radio" name="puntaje" value="4"> ⭐⭐⭐⭐
                <input type="radio" name="puntaje" value="5"> ⭐⭐⭐⭐⭐
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div class="comentarios">
            <h3>Comentarios</h3>
            <ul>
                {% for comentario in receta.comentarios.all %}
                    <li><strong>{{ comentario.user.name }}:</strong> {{ comentario.txt }}</li>
                    <p>{{ comentario.date }}</p>
                {% empty %}
                    <li>Sin comentarios...</li>
                {% endfor %}
            </ul>
        </div>

        <div class="comentar">
            {% if usuario_id %}
                <form method="post">
                    {% csrf_token %}
                    {% with form=forms_dict|dict_get:receta.id %}
                        {{ form.as_p }}
                    {% endwith %}
                    <input type="hidden" name="receta_id" value="{{ receta.id }}">
                    <button type="submit">Comentar</button>
                </form>
            {% else %}
                <p><a href="/login/">Iniciá sesión</a> para comentar.</p>
            {% endif %}
        </div>

        {% if receta.id in cocinadas_ids %}
            <a href="{% url 'desmarcar_cocinada' receta.id %}"><button>No la cociné</button></a>
        {% else %}
            <a href="{% url 'marcar_cocinada' receta.id %}"><button>La cociné</button></a>
        {% endif %}

        {% if receta.id in favoritas_ids %}
            <a href="{% url 'desmarcar_favorita' receta.id %}"><button>No es mi favorita</button></a>
        {% else %}
            <a href="{% url 'marcar_favorita' receta.id %}"><button>Es mi favorita!</button></a>
        {% endif %}

        {% if receta.user.id == usuario_id %}
            <a href="{% url 'editar_receta' receta.id %}">Editar</a>
            <a href="{% url 'eliminar_receta' receta.id %}">Eliminar</a>
        {% endif %}
    </div>
    <form method="post" action="{% url 'generar_lista' %}">
        {% csrf_token %}
            <h3>Seleccioná recetas para generar la lista:</h3>
        {% for receta in recetas %}
            <input type="checkbox" name="recetas" value="{{ receta.id }}"> {{ receta.title }}<br>
        {% endfor %}
            <button type="submit">Generar lista de compras</button>
        </form>
</div>
{% endfor %}

{% endblock %}
