{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVETAS</title>
    <link rel="stylesheet" href="{% static 'log_styles/landing-page.css' %}">
</head>
<body>
    <div class="background-overlay"></div>
    <header>
        <div id="landig-nav">
            
        </div>
    </header>
    <main>
        <section id=" hero-section">
            <iframe src="" frameborder="0"></iframe>
            <article id="iframe-description"></article>
        </section>
        <section id="cards">
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section id="fakes">
            
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>