{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVETAS</title>
    <link rel="stylesheet" href="{% static 'log_styles/landing-page.css' %}">
</head>
<body>
    <div class="background-overlay"></div>
    <header>
        <div id="landig-nav">
            
        </div>
    </header>
    <main>
        <section id="hero-section">
            <video src="{% static 'img/Comida típica de Italia 🍕 _ ¡10 platos que te encantarán!.mp4' %}" autoplay loop muted></video>
            <article id="iframe-description"></article>
        </section>
        <section id="cards">
            <div>
                <img src="{% static 'img/pngwing.com.png' %}" alt="REVETAS_LOGO">
                <h2>Nombre receta</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab officia quod, delectus adipisci incidunt consequuntur qui iste similique repellat ducimus sunt doloremque inventore voluptatum autem omnis quidem eveniet. Illum.</p>
                <p>fecha fake</p>
                <p>usuario fake</p>
            </div>
            <div>
                <img src="{% static 'img/pngwing.com.png' %}" alt="REVETAS_LOGO">
                <h2>Nombre receta</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab officia quod, delectus adipisci incidunt consequuntur qui iste similique repellat ducimus sunt doloremque inventore voluptatum autem omnis quidem eveniet. Illum.</p>
                <p>fecha fake</p>
                <p>usuario fake</p>
            </div>
            <div>
                <img src="{% static 'img/pngwing.com.png' %}" alt="REVETAS_LOGO">
                <h2>Nombre receta</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ab officia quod, delectus adipisci incidunt consequuntur qui iste similique repellat ducimus sunt doloremque inventore voluptatum autem omnis quidem eveniet. Illum.</p>
                <p>fecha fake</p>
                <p>usuario fake</p>
            </div>
        </section>
        <section id="fakes">
            
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>