{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVETAS</title>
    <link rel="stylesheet" href="{% static 'log_styles/reg.css' %}">
</head>
<body>
    <div class="background-overlay"></div>
    <header>
        <div class="nav">
            <h1>REVETAS</h1>
            <div id="about_me">
                <a href="https://www.linkedin.com/in/matias-andres-revetria/">Matias Revetria</a>
            </div>
        </div>
    </header>
    <main>
        {% block login %}

        {% endblock %}
        
    </main>
    <footer>

    </footer>
</body>
</html>