{% extends 'log_base.html' %}

{% load static %}

{% block login %}

<div class="register-box show-up">

    <img src="{% static 'img/pngwing.com.png' %}" alt="REVETAS_LOGO">

    <form method="post">
        {% csrf_token %}
        {% if error %}
            <p style="color: red; text-align: center;">{{error}}</p>
        {% endif %}
        {{form}}
        <div class="log-reg">
            <a href="/register/"> Sign up</a>
        </div>
        <button type="submit"> Login </button>
    </form>
</div>


{% endblock %}